.lendingsolutions{
	padding-top:90px;
	padding-bottom:80px;
}
.lendingsolutions h3 p{
	font-size:1.1em;
	font-weight: 700;
}
.lendingsolutions h3, .lendingsolutions h4{
  font-weight:700;
}
.lendingsolutions h3 b{
	color:#3676f7;
	font-weight: 700;
}
.lendingsolutions .img-d{
	width:150px;
	margin:0px auto 0px;
}
.lendingsolutions p{
	padding-left:10px;
	padding-right:10px;
	font-size: 1.4em;
	color: #707071;
	font-weight: 400;
   line-height: 1.5em;
}
.lendingsolutions h3 p{
	color:#434343; 
}
.lendingsolutions a{
	letter-spacing:1px;
}
.lendingsolutions h4{
	font-size:1.4em;
	font-weight: 800;
	color:#7a7a7a;
}
.project-d .img-d img{
	transition: all .5s ease;
}
.project-d .img-d img:hover{
	opacity:0.5;
	transition: all .5s ease;
}
.project-d p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.5em;
	color:#404248;
	padding-left:19px;
	padding-right:19px;
}
.project-d .col-lg-6:nth-child(2) p{
	padding-left:31px;
	padding-right:31px;
}
.project-d a:hover{
	text-decoration:none;
}
.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.hide-lg{
	display:none;
}
  @media (max-width:1200px) {
	.lendingsolutions a{
		font-size:14px;
	}
  }
  @media (max-width:767px) {
	.project-d .col-lg-6:nth-child(2) p, .project-d p{
		padding-left:0px;
		padding-right:0px;
	} 
	.hide-lg{
		display:block;
	} 
	.hide-mobile{
		display: none;
	}
	.lendingsolutions a{
		width:170px;
		margin:0px auto;
	}
  }
