.lendingsolutions{
	padding-top:70px;
	padding-bottom:80px;
}
.lendingsolutions h3, .lendingsolutions h4{
  letter-spacing:2px;
  font-weight:500;
}
.lendingsolutions h3 b{
	color:#3676f7;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
.lendingsolutions .img-d{
	width:150px;
	margin:0px auto 30px;
}
.lendingsolutions p{
	padding-left:10px;
	padding-right:10px;
}
.lendingsolutions a{
	letter-spacing:1px;
}
.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
	position: absolute;
	top: 0;
	left: 0;
  }
