.our-team{
	padding-bottom:80px;
	padding-top:15px;
}
.our-team h2{
	font-weight: 700;
}
.our-team h5{
	font-weight: 600;
}
.our-team span{
	display: block;
	padding-bottom:5px;
}
.our-team a{
	font-size:18px;
	color:#434343;
}
.team-img{
	width:70%;
	margin:0px auto;
	display: block;
}

