.our-team{
	padding-bottom:80px;
	padding-top:15px;
}
.our-team h2{
	font-weight: 300;
	font-size: 2.4em;
}
.our-team h5{
	font-weight: 600;
	color:#404248;
}
.our-team span{
	display: block;
	padding-bottom:5px;
	color:#404248;
}
.our-team a{
	font-size:24px;
	color:#818a91;
}
.team-img{
	width:70%;
	margin:0px auto;
	display: block;
}

