.product-banner{
	text-align:center;
	color:#fff;
}
.product-banner h1 {
	font-size: 60px;
	font-weight: 700;
	line-height: 65px;
	padding-bottom:10px;
}
.product-banner span {
	font-size: 35px;
	font-weight: 600;
	line-height: 65px;
}
@media (max-width: 769px) {
   .product-banner h1{
	 font-size:2.3rem;
   }
   .product-banner span{
	   font-size:1.1rem;
   }
 }