.Contactform{
	background-color:#3676f7;
	padding-top:70px;
	padding-bottom:50px;
	color:#fff;
}
.Contactform h4{
	font-weight:700;
}
.Contactform span{
   font-size:20px;
   font-weight: 300;
}
.Contactform Form {
	padding-top:40px;
}
.Contactform Form sup{
	color:red;
}
.Contactform .form-control{
	font-size:14px;
	color:#434343;
}
.Contactform button{
	padding:9px 33px;
	font-weight:700;
	letter-spacing:1px;
	margin-top:10px;
}
.Contactform textarea {
	height:210px;
}
.recaptchad p{
	margin-bottom:0px;
}
.alert{
	padding:3px;
}
@media (max-width: 767px) {
	.Contactform textarea {
		height:100px;
	}
}
