.Lendingdetails-min{
	padding-top:70px;
	padding-bottom:70px;
}
.Lendingdetails-min h2{
   font-size: 2.6em;
   font-weight: 700;
}
.top-section h2 b{
   color:#3676f7;
   font-weight: 700;
   letter-spacing:1px;
}
.center-dev h2{
   font-size: 1.85em;
   font-weight: 500;
}

.top_text p, .productdetails p{
   font-size: 1.4em;
   font-weight: 400;
   line-height: 1.5em;
   padding-top:15px;
}
.PurpleGradient {
   background-color: transparent;
   background-image: linear-gradient(180deg, #ffffff 23%, #5a5ff4 100%);
}
.Blue{
   background-color: transparent;
   background-image: linear-gradient(180deg, #ffffff 23%, #3676f7 100%);
}
.productdetails{
	margin-top:40px;
}
.productdetails h4, .ScheduleDemo h4{
   letter-spacing:1px;
   font-weight: 700;
}
.ScheduleDemo {
	padding-top:60px;
	padding-bottom:20px;
}
.ScheduleDemo h4 {
	font-weight: 700;
	display: block;
}
.productdetails.Left .text_order {
   order:6 !important;
}
.productdetails.Full .container{
   max-width:100%;
   padding-left:0px;
   padding-right:0px;
}
.productdetails.Full .container .row{
   margin-left:0px !important;
   margin-right: 0px!important;
}
.productdetails.Full .container .row .col-lg-12{
   padding:0px;
}
.productdetails.Full .container .pr-lg-5 {
  padding-right:0px !important;
}
.productdetails.Center{
   text-align: center;
}
.productdetails.Center .col-lg-6{
   flex: 0 0 100%;
   max-width: 100%;
}
.productdetails h3{
   font-size:2.1em;
   font-weight: 500;
}
.productdetails h3 b,
.productdetails h2 b, 
.productdetails.Center b{
   font-weight: 700;
   color:#ED7D31 !important;
}
.productdetails li{
   padding:0px;
   margin:0px;
   font-weight: 200;
}
.productdetails li p{
   font-weight: 200;
}
.productdetails.Full  .full-d {display: none;}
.Full .img-fluid {
   width: 100%;
}
.productdetails.Full .text_order{
   display:none;
}
@media (max-width: 769px) {
   .productdetails.Left .text_order {
      order:unset !important;
   }
   .ScheduleDemo{
      padding-top:0px;
   }
}
