.Lendingdetails-min{
	padding-top:70px;
	padding-bottom:70px;
}
.Lendingdetails-min h2 b{
   color:#3676f7;
   font-family: 'Oswald', sans-serif;
   font-weight: 500;
   letter-spacing:1px;
}
.PurpleGradient {
   background-color: transparent;
   background-image: linear-gradient(180deg, #ffffff 23%, #5a5ff4 100%);
}
.Blue{
   background-color: transparent;
   background-image: linear-gradient(180deg, #ffffff 23%, #3676f7 100%);
}
.productdetails{
	margin-top:40px;
}
.productdetails h4, .ScheduleDemo h4{
	letter-spacing:1px;
}
.ScheduleDemo {
	padding-top:60px;
	padding-bottom:20px;
}
.ScheduleDemo h4 {
	font-weight: 400;
	display: block;
}
.productdetails.Left .text_order {
   order:6 !important;
}
.productdetails.Full .container{
   max-width:100%;
   padding-left:0px;
   padding-right:0px;
}
.productdetails.Full .container .row{
   margin-left:0px !important;
   margin-right: 0px!important;
}
.productdetails.Full .container .row .col-lg-12{
   padding:0px;
}
.productdetails.Full .container .pr-lg-5 {
  padding-right:0px !important;
}
.productdetails.Center{
   text-align: center;
}
.productdetails.Center .col-lg-6{
   flex: 0 0 100%;
   max-width: 100%;
}
.Liskanadetails_min h4 b{
   font-weight: 500;
   color:#ED7D31;
}
.Full .img-fluid {
   width: 100vh;
}

@media (max-width: 769px) {
   .productdetails.Left .text_order {
      order:unset !important;
   }
   .ScheduleDemo{
      padding-top:0px;
   }
}
